.body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    position: fixed;
    top: 0;
    width: 1140px;
    height: 100px;  
    background-color: #FF4500;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1140px;
    margin: 0 auto;
    margin-top: 200px;
}
.navigation{
    display: flex;
    justify-content: center;
}
.btn-grey{
    background-color: gray; 
    border: none;
    color:black;
    padding: 15px 32px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}
.mainH{
    margin-top: -20px;
    white-space: normal;
    text-align: left;
    word-break: break-all;
    
}
a {
    color: #0366d6;
  }